<div class="container">
  <div class="header">
    <h1>Edit metadata</h1>
    <%= link_to 'Back', :back %>
  </div>

  <%= form_for(@metadata) do |f| %>
    <% if @metadata.errors.any? %>
      <div id="error_explanation">

        <h2>Fix the following errors</h2>

        <ul>
        <% @metadata.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h2>Editing field for song #<%= @song.id %></h2>

    <div class="fields">
      <%= f.label :value, "#{@field.name}" %><br>
      <%= f.text_field :value, size: 40 %>
    </div>

    <div class="actions">
      <%= f.submit "Update field" %>
    </div>

  <% end %>

</div>
