<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">

      <h2>Fix the following errors</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40 %>

    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password, size: 40 %>

    <%= f.label :password_confirmation, "Confirm password" %><br>
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
