<%= form_for(@song) do |f| %>
  <% if @song.errors.any? || (@image && @image.errors.any?) %>
    <div id="error_explanation">

      <h2>Fix the following errors:</h2>

      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>

        <% if @image %>
          <% @image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "fields">
    <%= f.label "Song (48kHz OGG Vorbis file)" %>
    <%= f.file_field :file %>

    <%= fields_for :background_image do |g| %>
      <%= g.label "Image (optional)" %>
      <%= g.file_field :image %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
