<tr class="song-entry">
  <td><%= song.artist %></td>
  <td><%= song.title %></td>
  <td><%= time_ago_in_words(song.last_requested_at) %> ago</td>
  <td class="controls">
    <%= link_to 'S', song %>&nbsp;
    <%= link_to 'E', edit_song_path(song) %>&nbsp;
    <%= link_to 'D', song, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;
    <%= react_component('RadioEnqueueButton', httpMethod: 'post', radioMethod: "/radio/enqueue/#{song.id}", label: 'Q') %>&nbsp;
    <%= react_component('RadioRequestButton', httpMethod: 'post', radioMethod: "/radio/request/#{song.id}", label: 'Req') %>
  </td>
</tr>
