<p id="notice"><%= notice %></p>

<h1>Listing Songs Search Results</h1>

Searched for "<%= @query %>" and found <%= pluralize(@songs.count, "result") %>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Title</th>
      <th>File size</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <%= render song %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'All songs', songs_path %>
