<div class="container">
  <div class="header">
    <h1>Search songs</h1>

    <%= link_to 'Back', :back %>

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <div style="width: 100%;">"<%= @query %>", <%= pluralize(@songs.count, "result") %></div>
  </div>

  <table class="song-list-table">
    <thead>
      <tr>
        <th class="artist-header">Artist</th>
        <th class="title-header">Title</th>
        <th class="last-requested-header">Last requested</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @songs.each do |song| %>
        <%= render song %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @songs %>
</div>
