<div class="container">

  <div class="header">
    <h1>Show song</h1>
    <%= link_to 'Back', :back %>
    <%= link_to 'Edit', edit_song_path(@song) %>

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>

  <%= render "metadata_section" %>

  <h2>Record</h2>
  <table class="vertical">
    <tr><td>ID</td><td><%= @song.id %></td></tr>
    <tr><td>Artist metadata ID</td><td><%= @song.artist_metadata_id %></td>
    <tr><td>Title metadata ID</td><td><%= @song.title_metadata_id %></td>
    <tr><td>Last requested</td><td><%= @song.last_requested_at %></td>
    <tr><td>Created at</td><td><%= @song.created_at %></td>
    <tr><td>Updated at</td><td><%= @song.updated_at %></td>
    <tr><td>File updated at</td><td><%= @song.file_updated_at %></td>
    <tr><td>Content type</td><td><%= @song.file_content_type %></td></tr>
    <tr><td>Original filename</td><td><%= @song.file_file_name %></td>
    <tr><td>File URL</td><td><%= @song.file.url %></td>
    <tr><td>Filesize</td><td><%= @song.file_file_size %>, <%= number_to_human_size(@song.file_file_size) %></td></tr>
    <tr><td>Audio</td><td><%= link_to "Download", @song.file.url %><br><audio src=<%= @song.file.url %> controls></audio></td>
    <tr><td>Inspect</td><td><%= @song.inspect %></td></tr>
  </table>

  <%= render "images_section" %>
</div>
