<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @song.file_file_size %>
</p>

<p>
  <strong>ID:</strong>
  <%= @song.id %>
</p>

<p><%= @song.metadatum.count %> metadata fields</p>
<table>
  <tr>
    <td>Field</td>
    <td>Value</td>
  </tr>

  <% @song.metadatum.each do |m| %>
    <tr>
      <td><%= m.metadata_field.name %></td>
      <td><%= m.value %></td>
    </tr>
  <% end %>
</table>

<p><%= @images.length %> attached images</p>
<% @images.each do |i| %>
  <div>
    <%= image_tag i.image.url, style: "max-width: 90vw" %>
    <br>
    <%= image_tag i.image.url(:tiny) %>
    <%= image_tag i.image.url(:small) %>
    <%= image_tag i.image.url(:medium) %>
  </div>
<% end %>

<br>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
