<div class="container">

  <div class="header">
    <h1>Show song</h1>
    <%= link_to 'Edit', edit_song_path(@song) %>
    <%= link_to 'Back', songs_path %>

    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>

  <h2>Record</h2>
  <table class="vertical">
    <tr><td>ID</td><td><%= @song.id %></td></tr>
    <tr><td>Filesize</td><td><%= @song.file_file_size %>, <%= number_to_human_size(@song.file_file_size) %></td></tr>
    <tr><td>Last requested</td><td><%= @song.last_requested_at %></td>
    <tr><td>Created at</td><td><%= @song.created_at %></td>
    <tr><td>Updated at</td><td><%= @song.updated_at %></td>
    <tr><td>File updated at</td><td><%= @song.file_updated_at %></td>
    <tr><td>Content type</td><td><%= @song.file_content_type %></td></tr>
    <tr><td>Original filename</td><td><%= @song.file_file_name %></td>
    <tr><td>Inspect</td><td><%= @song.inspect %></td></tr>
  </table>

  <h2>Metadata</h2>
  <h3><%= @song.metadatum.count %> metadata fields</h3>
  <table class="vertical">
      <tr>
        <td>Field</td>
        <td>Value</td>
        <td>ID</td>
      </tr>

    <% @song.metadatum.each do |m| %>
      <tr>
        <td><%= m.metadata_field.name %></td>
        <td><%= m.value %></td>
        <td><%= m.id %></td>
      </tr>
    <% end %>
  </table>

  <h2>Images</h2>
  <h3><%= @images.length %> attached images</h3>
  <% @images.each do |i| %>
    <table class="vertical">
        <tr><td>Filesize</td><td><%= i.image_file_size %>, <%= number_to_human_size(i.image_file_size) %></td></tr>
        <tr><td>Content type</td><td><%= i.image_content_type %></td></tr>
        <tr><td>Original filename</td><td><%= i.image_file_name %></td></tr>
        <tr><td>Inspect</td><td><%= i.inspect %></td></tr>
    </table>

    <div class="image-set" style="max-width: 100%; margin: 0 1rem;">
      <%= image_tag i.image.url, style: "max-width: 100%" %>
      <br>
      <%= image_tag i.image.url(:tiny) %>
      <%= image_tag i.image.url(:small) %>
      <%= image_tag i.image.url(:medium) %>
    </div>
  <% end %>
</div>
