<!DOCTYPE html>
<html>
<head>
  <title>IreulWeb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if session[:user_id] %>
  <div class="admin-panel">
    <div class="admin-controls">
        <%= react_component('RadioSkipButton', {
            httpMethod: "post",
            radioMethod: "/radio/skip",
            label: "Skip"
        }) %>
        <div class="render-time"><%= sprintf("%.2f", (Time.now.to_f - @start_time)) %>s</div>
        <%= button_to 'Logout', logout_path, method: :delete %>
    </div>
  </div>
<% end %>

</body>
</html>
